<!doctype html>

<html lang="de">

<style type="text/css">

body {
font: 16px sans-serif;
max-width: 580px;
margin: 0 auto;
}

.error {
color: red;
font: 12px sans-serif;
}

.label {
font: 12px sans-serif;
}

.table {
font: 15px sans-serif;
}

.centerinfo {
width: 100%;
margin: 0 auto;
font: 12px sans-serif;
}

.centertable {
width: 70%;
min-width: 420px;
margin: 0 auto;
}

.inputtable {
width: 85%;
min-width: 380px;
margin: 0 auto;
}

table, tr, td {
    border: none;
}

</style>


<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/favicon.ico">
	<title>Crypto Cheque</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css"></style>

  <!-- recaptcha -->
  <script src='https://www.google.com/recaptcha/api.js'></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109506841-1"></script>

  <script>
  function onSubmit(token) {
	   document.getElementById("check_balance_form").submit();
  }
  </script>

	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-109506841-1');
	  gtag('config', 'AW-960369895');
	</script>



</head>

<body>
<br><br><br>
<h2 align="center">Crypto Cheque</h2>
<br><br>
	<form id="check_balance_form" method="POST" enctype="multipart/form-data">

    <table class="inputtable">
    <col width="70%">
    <col width="30%">
      <tr>
        <td>
          <span class="label">Cheque ID:</span><br>
          <input type="text" style="font: 15px sans-serif; width: 95%;" name="cheque_ident" value="{{cheque_ident}}">
        </td>
        <td valign="bottom">
          <input type="submit" name="check_balance" style="width: 95%;" value="Check balance">
        </td>
      </tr>
      <tr>
        <td>
        {% if error_message_id %}<span class="error">{{error_message_id}}</span><br>{% endif %}
        </td>
        <td>
        </td>
      </tr>
    </table>

    <br>

		{% if cheque_balance != None %}
      <br>
      <div class="centertable">
      <table class="table" style="width:100%">
      <col width="35%">
      <col width="40%">
			<col width="35%">
        <tr>
          <td>ID:</td>
          <td align="right">{{cheque_ident_requested}}</td>
        </tr>
        <tr>
          <td>Balance {% if cheque_public_address %}(<a href="https://live.blockcypher.com/btc/address/{{cheque_public_address}}/" target="_blank" style="color: black;">details</a>){% endif %}:</td>
          <td align="right">{{cheque_balance}} BTC</td>
					<td align="right">{% if cheque_balance_usd %}({{cheque_balance_usd}} USD){% endif %}</td>
        </tr>
        {% if show_payout_details %}
					{% if show_service_fee %}
					<tr>
						<td>Service fee 1.5%:</td>
						<td align="right">{{service_fee}} BTC</td>
						<td align="right">{% if service_fee_usd %}({{service_fee_usd}} USD){% endif %}</td>
					</tr>
					{% endif %}
					<tr>
						<td>Network fee:</td>
						<td align="right">{{transaction_fee}} BTC</td>
						<td align="right">{% if transaction_fee_usd %}({{transaction_fee_usd}} USD){% endif %}</td>
					</tr>
					<tr>
						<td><b>Total payout:</b></td>
						<td align="right"><b>{{total_payout}} BTC<b></td>
							<td align="right">{% if total_payout_usd %}({{total_payout_usd}} USD){% endif %}</td>
					</tr>
        {% endif %}
      </table>
      <br><br>
      </div>

      {% if show_payout_details %}

        <input type="hidden" name="cheque_ident_requested" value="{{cheque_ident_requested}}">
        <input type="hidden" name="verification_index" value="{{verification_index}}">

        <table class="inputtable">
        <col width="70%">
        <col width="30%">
          <tr>
            <td>
              <span class="label">Send payout to BTC address:</span> <br>
              <input type="text" style="font: 15px sans-serif; width: 95%;" name="receiver_btc_adr" value="{{receiver_btc_adr}}">
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <td>
            {% if error_message_address %}<span class="error">{{error_message_address}}</span><br>{% endif %}
            </td>
            <td>
            </td>
          </tr>
        </table>

        <br>

        <table class="inputtable">
        <col width="70%">
        <col width="30%">
          <tr>
            <td>
              <span class="label">Verification code <b>{{verification_index_chars}}</b>:</span><br>
              {% if verification_index_chars %}
              <input type="text" style="font: 15px sans-serif; width: 95%;" name="verification_code" autocomplete="off" placeholder="Combine lines >>{{verification_index_chars[0]}} and >>{{verification_index_chars[1]}} on your cheque" value="{{verification_code}}">
              {% else %}
              <input type="text" style="font: 15px sans-serif; width: 95%;" name="verification_code" autocomplete="off" value="{{verification_code}}">
              {% endif %}
            </td>
            <td valign="bottom">
              <button class="g-recaptcha"	data-sitekey="6LcsKHwUAAAAAAIVGe8GsSpjRd9Yuk-gesAxiXkj" data-callback="onSubmit" style="width: 95%">Redeem</button>
            </td>
          </tr>
          <tr>
            <td>
            {% if error_message_verification %}<span class="error">{{error_message_verification}}</span><br>{% endif %}
            {% if error_message_captcha %}<span class="error">{{error_message_captcha}}</span><br>{% endif %}
            </td>
            <td>
            </td>
          </tr>
        </table>


        <br><br>
      {% endif %}

      {% if redeem_transaction %}
      <center>
      <br>
      <b>Payout successful</b> (<a href="https://live.blockcypher.com/btc/tx/{{redeem_transaction}}/" target="_blank" style="color: black;">show transaction</a>)<br><br>
      <br>
      </center>
      {% endif %}

    {% endif %}
	</div>

    <center>
		<br><br>
		<a href="/print" target="_blank" style="color: black;">Print Crypto Cheques</a>
		<br><br>
    </center>

	</form>

		<div class="centerinfo">
		<br><br>
    <center>
		Crypto-Cheque is open source: <a href="https://github.com/hroser/crypto-cheque" style="color: black;">https://github.com/hroser/crypto-cheque</a>
    </center>
		</div>

	<br><br><br><br>
</body>
</html>
